.challengeBoxContainer {
  height: 100%;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  max-width: 60%;
}
.challengeNotActive > div {
  display: flex;
  align-items: center;
  line-height: 1.4;
  max-width: 75%;
  font-size: 1rem;
  margin-top: 3rem;
}
.challengeNotActive > div img {
  max-height: 3rem;
}
.challengeNotActive > div p {
  text-align: justify;
  margin-left: 1.2rem;
}
.challengeActive {
  height: 88%;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.challengeActive header {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid var(--gray-line);
}
.challengeActive main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.challengeActive main strong {
  font-size: 2rem;
  font-weight: 600;
  color: var(--title);
  margin: 1.5rem 0 1rem;
}
.challengeActive main p {
  line-height: 1.5;
}
.challengeActive footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.challengeActive footer button {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  transition: filter 0.2s ease-in;
}
.failedButton {
  background-color: var(--red);
}
.succeededButton {
  background-color: var(--green);
}
.challengeActive footer button:hover {
  filter: brightness(0.93);
}
